.sectionFour-container {
    background: #111111;

    .sectionFour-wrapper {
        width: 100%;
        max-width: 1251px;
        margin: 0 auto;
        padding: 20px;

        .cad-wrapper {
            display: flex;
            width: 100%;

            @media (max-width:768px) {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }

            .card {
                width: 33%;
                padding-top: 120px;
                padding-bottom: 120px;
                margin-right: 50px;

                @media (max-width:768px) {
                    width: 40%;
                    padding-bottom: 20px;

                }

                @media (max-width:425px) {
                    width: 100%;
                    margin-right: 0px;
                    padding-top: 20px;

                }

                &:nth-child(3) {
                    margin-right: 0;
                }

                .card-heading {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 43px;
                    /* or 133% */


                    color: #FFFFFF;
                    margin-bottom: 25px;

                    @media (max-width:568px) {
                        font-size: 25px;
                        line-height: 39px;
                    }

                }

                .card-desc {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    /* or 162% */


                    color: #FFFFFF;

                    @media (max-width:568px) {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}