.CtaSection-container {
    width: 100%;
    max-width: 1251px;
    margin: 0 auto;
    // padding-bottom: 20px;

    .CtaSection-wrapper {
        background-image: url("/assets/Cta/cta-bg.png");

        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        // display: grid;
        // grid-template-columns: 1fr 2fr;
        display: flex;
        align-items: center;

        justify-content: center;
        padding: 28px;

        @media (max-width:568px) {
            flex-direction: column;
            padding: 25px 8px;
        }

        .left-side-container {

            // width: 30%;
            width: 250px;
            margin: 0 auto;

            img {}

            @media (max-width:568px) {
                width: 100%;
                display: none;
            }
        }

        .right-side-container {
            width: 70%;



            @media (max-width:768px) {
                width: 58%;
            }

            @media (max-width:568px) {
                width: 100%;

            }

            .heading {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
                color: var(--color-text);
                margin-bottom: 23px;

                @media (max-width:768px) {
                    font-size: 39px;
                    line-height: 46px;
                }

                @media (max-width:568px) {
                    font-size: 37px;
                    line-height: 38px;
                }
            }

            .desc {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                /* or 162% */


                color: #000000;
                max-width: 600px;

                @media (max-width:768px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .buttons-wrapper {
                display: flex;
                margin-top: 58px;

                @media (max-width:568px) {
                    margin-top: 26px;


                }

                .contact-button {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    /* identical to box height, or 156% */

                    letter-spacing: 1.3px;
                    background: #111111;
                    border-radius: 15px;
                    color: #FFFFFF;
                    padding: 13px 24px;
                    margin-right: 26px;
                    cursor: pointer;

                    @media (max-width:768px) {
                        font-size: 14px;
                    }

                    @media (max-width:568px) {
                        font-size: 15px;
                        line-height: 25px;
                        padding: 14px 23px;

                    }
                }

                .Pricing-button {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    /* identical to box height, or 156% */
                    cursor: pointer;

                    letter-spacing: 1.3px;
                    background: transparent;
                    border-radius: 15px;
                    color: #111111;
                    padding: 13px 24px;
                    border: 1px solid #515151;

                    @media (max-width:768px) {
                        font-size: 14px;
                    }

                    @media (max-width:568px) {
                        font-size: 15px;
                        line-height: 25px;
                        padding: 14px 23px;

                    }
                }
            }
        }
    }
}