.CtaSection-container {
    width: 100%;
    max-width: 1251px;
    margin: 0 auto;
    height: 100vh;

    .CtaSection-wrapper {
        background-image: url("/assets/Cta/cta-bg.png");
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;

    }
}